<h1 class="head" style="font-size: 40px; text-transform:uppercase; color:white"><b>Employee Management</b></h1>
<br>
<h4 style="color: white;" class="text-center">Welcome To Employee Management Dashboard !</h4>
<hr style="color:white">
<div class="text-center">
    <div class="card" routerLink="/addemp">
        <h4  style="font-weight: 400;">Add Employee</h4>
    </div>
    <div class="card" routerLink="/emplist">
        <h4 class="text-center" style="font-weight: 400;">Employees</h4>
    </div>
</div>
<router-outlet></router-outlet>


