<h1 class="header" style="font-size: 30px; color:white">Employee Details</h1>
<div class="box">
    <div class="white ">
        <div class="image">
            <img src="../../assets/profile.webp" height="60px" width="60px" style="border-radius: 50%;">
        </div>
        <hr>
        <div>
            <label class="label"><b>First Name :</b></label>
            {{employee.firstname}}
        </div>
        <hr>
        <div>
            <label class="label"><b>Last Name :</b></label>
            {{employee.lastname}}
        </div>
        <hr>
        <div>
            <label class="label"><b>Email Id :</b></label>
            {{employee.email}}
        </div>
        <hr>
        <div>
            <label class="label"><b>Phone :</b></label>
            {{employee.phone}}
        </div>

    </div>

</div>
